// Place all the styles related to the Productos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.productos .admin
{
	display: none;
}
.productos.hover
{
	background: #EBFFF3;
}

.productos.hover .admin
{
	display: inline;
}
